
.layout{
  display: flex;
  flex-direction: column;
}
.layout-header{
  width: 100vw;
  height: 48px;
  padding-block: 4px;
  /* border:1px solid white; */
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-text{
  margin-inline:auto;
}
.layout-main{
  flex:1;
}
.layout-footer{
  border:1px solid white;
  flex:1;
}
.button-primary {
  border-radius: 8px;
  border: 1px solid transparent;
  margin-inline:4px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-color-primary{
  color:white;
}